header {
    color: #FFFFFF;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

header h1 {
    padding-top: 0.5rem;
    margin-bottom: 0;
}

header h2 {
    color: rgba(255,255,255,.5);;
    margin-bottom: 0;
    font-size: 1.25rem;
}

body {
}

main {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.container {
    max-width: 960px;
}

footer {
    color: #FFFFFF;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

footer .navbar-nav {
    flex-direction: row;
}

footer .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer h1 {
    font-size: 109%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
footer h1, footer h1 a {
    color: #FFFFFF;
}

footer ul {
    margin-left: 0;
}

footer li {
    list-style: none;
}

footer a {
    color: inherit;
}

footer li a:hover {
    color: #FFFFFF;
}

footer .nav-link {
    padding: unset;
}
