{% comment %}
<div class="alert alert-primary" role="alert">
  <span class="badge badge-primary">HOT</span> <b>9 July 2022 (Sat):</b> GI tutorial (<a href="https://gecco-2022.sigevo.org/Tutorials#id_Genetic%20improvement:%20Taking%20real-world%20source%20code%20and%20improving%20it%20using%20computational%20search%20methods.">details</a>) and 11th GI workshop (<a href="{{ "/events/gecco2022" | relative_url }}">event page</a>) at GECCO 2022
</div>
{% endcomment %}
<div class="alert alert-primary" role="alert">
  <span class="badge badge-primary">NEW</span> Congratulations to the winners of the best paper and best presentation awards at the 11th GI workshop (<a href="{{ "/events/gecco2022" | relative_url }}">event page</a>)
</div>
