<div class="alert alert-primary" role="alert">
  <span class="badge badge-primary">HOT</span> <b>16 April 2024 (Tue):</b> 13th GI workshop (<a href="{{ "/events/icse2024" | relative_url }}">event page</a>, <a href="https://youtube.com/playlist?list=PLI8fiFpB7BoIRqJuY80XwmH-DFT_71y2S">recordings</a>) at ICSE 2024
</div>
<div class="alert alert-primary" role="alert">
  <span class="badge badge-primary">NEW</span> <b>13-14 July 2024:</b> GI tutorial (<a href="https://gecco-2024.sigevo.org/Tutorials#id_Genetic%20Improvement:%20Taking%20real-world%20source%20code%20and%20improving%20it%20using%20computational%20search%20methods">details</a>) at GECCO 2024
</div>
