<div class="alert alert-primary" role="alert">
  <span class="badge badge-primary">HOT</span> <b>16 April 2024 (Tue):</b> 13th GI workshop (<a href="{{ "/events/icse2024" | relative_url }}">event page</a>) at ICSE 2024
</div>
{% comment %}
<div class="alert alert-primary" role="alert">
  <span class="badge badge-primary">NEW</span> Congratulations to the winners of the best paper and best presentation awards at the 11th GI workshop (<a href="{{ "/events/gecco2022" | relative_url }}">event page</a>)
</div>
{% endcomment %}
